@import url('https://fonts.googleapis.com/css?family=Arvo');
/* font-family: 'Arvo', serif; */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arvo', serif;
    background-color: #EDEDED;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: blue;
}

h1, main {
    margin: 50px 0;
}

main {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 540px;
    margin-bottom: 80px;
    position: relative;
    width: 402px;
    /* besoin width précis pour les absolute qui se réfèrent au main */
}

a {
    outline:none;
}

#corps {
    background-image: url("../images/corps.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 192px; /*   width:139;  height: 498;*/
    position: relative;
}

#placeholder {
    width: 210px;
}

.desc {
    height: 0.5%;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align: left;
    overflow: hidden;

    filter: opacity(0%);
    transition: filter 300ms;
}

.cercle {
    background-color: rgba(150, 145, 145, 0.541);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    filter: opacity(70%);
    z-index: 9;
}

.cercle:hover {
    background-color: rgba(6, 53, 209, 0.76);
}

/* positionnements et relations descriptions */

#epaule {
    position: absolute;
    /* width: 50px; */
    top: 90px;
    left: 25px;
	
}

#epaule:hover ~ #placeholder #desc-epaule {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}


#coude {
    position: absolute;
    /* width: 50px; */
    top: 180px;
    left: 125px;
	
}

#coude:hover ~ #placeholder #desc-coude {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}

#tanana {
    position: absolute;
    /* width: 50px; */
    top: 250px;
    left: 20px;
	
}

#tanana:hover ~ #placeholder #desc-tanana {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}

#genou {
    position: absolute;
    /* width: 50px; */
    top: 355px;
    left: 95px;
	
}

#genou:hover ~ #placeholder #desc-genou {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}


#pied {
    position: absolute;
    /* width: 50px; */
    top: 480px;
    left: 50px;
	
}

#pied:hover ~ #placeholder #desc-pied {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}